html,
body {
  min-width: 410px;
  min-height: 30px;
  background-color: #f9f9f9;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
}

#root {
  width: 100%;
  height: 100%;
  position: absolute;
}

.toolbar-wrapper {
}
