html,
body {
  min-width: 310px;
  min-height: 30px;
  background-color: #f9f9f9;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
}

#root {
  width: 100%;
  height: 100%;
  position: absolute;
}

.toolbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  gap: 8px;
}

.toolbar-item {
  margin: 0 5px;
  cursor: pointer;
}

.toolbar-item-icon {
  width: 24px;
  height: 24px;
}

.toolbar-item:hover {
  background: #e0e0e0;
  padding: 3px;
}
